// card-view
@card-view-vertical-padding: 10px;
@card-view-horizontal-padding: 16px;
@card-view-background-light: #fff;
@card-view-background-dark: #0f0f0f;

//cell
@cell-horizontal-padding: 16px;
@cell-vertical-padding: 10px;
@cell-background-light: #fff;
@cell-background-dark: #0f0f0f;

@cell-title-color-light: #323233;
@cell-title-color-dark: #fff;
@cell-title-font-size: 14px;
@cell-title-font-weight: 500;


@cell-value-color-light: #969799;
@cell-value-color-dark: #fff;
@cell-value-font-size: 14px;
@cell-value-font-weight: 500;

// button
@button-height: 88px;
@button-font-size: 32px;
@button-line-height: 84px;
@button-border-radius: 8px;
@button-border-width: 2px;
@button-hairline-border-width: 1px;

// button type colors
@button-default-color: #323233;
@button-default-background-color: #fff;
@button-default-border-color: #ebedf0;

@button-primary-color: #fff;
@button-primary-background-color: #07c160;
@button-primary-border-color: #07c160;

@button-success-color: #fff;
@button-success-background-color: #07c160;
@button-success-border-color: #07c160;

@button-warning-color: #fff;
@button-warning-background-color: #ff976a;
@button-warning-border-color: #ff976a;

@button-danger-color: #fff;
@button-danger-background-color: #ee0a24;
@button-danger-border-color: #ee0a24;

// button size
@button-large-width: 100%;
@button-large-height: 100px;
@button-large-font-size: 36px;
@button-large-line-height: 96px;

@button-normal-padding: 0 30px;

@button-small-height: 64px;
@button-small-padding: 0 16px;
@button-small-font-size: 26px;
@button-small-line-height: 60px;

@button-mini-height: 48px;
@button-mini-padding: 0 12px;
@button-mini-font-size: 22px;
@button-mini-line-height: 44px;

// button state
@button-disabled-opacity: 0.5;
@button-active-opacity: 0.8;
