// card-view
@card-view-vertical-padding: 10px;
@card-view-horizontal-padding: 16px;
@card-view-background-light: #fff;
@card-view-background-dark: #0f0f0f;

//cell
@cell-horizontal-padding: 16px;
@cell-vertical-padding: 10px;
@cell-background-light: #fff;
@cell-background-dark: #0f0f0f;

@cell-title-color-light: #323233;
@cell-title-color-dark: #fff;
@cell-title-font-size: 14px;
@cell-title-font-weight: 500;


@cell-value-color-light: #969799;
@cell-value-color-dark: #fff;
@cell-value-font-size: 14px;
@cell-value-font-weight: 500;
